[Desktop Entry]
Type=Application
Name=EXE Executor
GenericName=Windows App Runner
Comment=Execute Windows binaries securely on Linux
Exec=/home/null/Documents/EXE-Executor/build/exe-executor %f
Icon=/home/null/Documents/EXE-Executor/resources/logo.png
Terminal=false
Categories=System;Utility;
MimeType=application/x-ms-dos-executable;application/x-msi;
NoDisplay=false
