[Desktop Entry]
Type=Application
Name=Nectar
Comment=Run .exe files on Linux with ease
Exec=nectar %f
Icon=io.github.devnull_l1r.nectar
Terminal=false
Categories=Utility;System;Emulator;
MimeType=application/x-ms-dos-executable;application/x-msdownload;application/x-executable;
