[Desktop Entry]
Type=Application
Name=Nectar
Comment=Run EXE files on Linux with ease
Exec=exe-executor
Icon=io.github.devnull_l1r.nectar
Terminal=false
Categories=Utility;
